body {
  background-color: rgb(230, 230, 230);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 350px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.smallImage {
  width: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media (max-width: 770px) {
  .container {
    margin: 0 2%;
  }

  .image {
    width: 80%;
  }
}
